# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Environment variables
.env
backend/.env
frontend/.env

# Logs
logs
*.log
*.log.*

# Build outputs
dist/
build/
frontend/dist/
frontend/.vite/

# OS-specific
.DS_Store
Thumbs.db

# Vite cache
frontend/.vite/
frontend/node_modules/

# ESLint cache
.eslintcache

# IDE/editor
.vscode/
.idea/

# Misc
*.local
.env.*.local
frontend/frontend@0.0.0
